<!doctype html>
<head>
  <title>Repeatr</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="header">
    <h1 id="logo">Repeatr</h1>
    <div class="nav">
      <form action="/watch" method="GET" class="search">
        <input type="text" size=30 name="v" placeholder="Enter Youtube video ID">
        <input type="submit" value="Loop it">
      </form>
    </div>
  </div>

  <script type="text/javascript">
    // Set-up for YouTube Player API
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Use the video_id that was passed in to queue up correct video
    var videoId = "{{ video_id|safe }}";
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: videoId,
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      play();
    }

    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.ENDED) {
        play();
      }
    }

    // Starts playing the video specified in the player object, increments loop
    // counter on the screen, calculates duration (to potentially be used for
    // something more interesting later in development), and sends an AJAX request
    // to the server to update the play_count of the video in the database
    function play() {
      player.playVideo();

      var play_count = Number(document.getElementById("counter").innerHTML) + 1;
      document.getElementById("counter").innerHTML = play_count;
      
      var total_duration = player.getDuration() * play_count;
      if (total_duration / 3600 > 4) {
        document.getElementById("duration").innerHTML = 
        "You have been repeating this video for over 4 hours, weirdo.";
      }

      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "/update_database/", true);
      xmlhttp.send(JSON.stringify({ "video_id": videoId }));
    }

  </script>

  <div id="player"></div>
  <div id="counter_main">
    <h1>Loops so far: <h1><div id="counter">0</div>
    <div id="duration"></div> 
  </div>

  <div id="top_10" style="width:640">
  <h3 id="top_10_header">Top 10 Most Repeatd Videos:</h3>
  {% for video in top_10 %}
    <div class="video">
      <img src="{{ video.thumbnail_url }}">
      <p class="video_title"><a href="/watch?v={{ video.video_id }}">{{ video.title }}</a></p>
      <!-- <p class="description">{{ video.description }}</p> -->
      <div class="play_count">
        Play Count:
        <div>{{ video.play_count }}</div>
      </div>
    </div>
  {% else %}
    <div><em>Unbelievable.  No entries here so far</em></div>
  {% endfor %}
  </div>

</body>